.table {
  display: table;
  height: 100%;
  width: 100%;
}
.twitter-timeline {
  position: absolute !important;
  visibility: visible;
  display: inline-block !important;
  width: 60% !important;
  height: 100% !important;
  padding: 10% !important;
  border: none;
  max-width: 100%;
}

.twitter-follow-button {
  position: absolute !important;
  visibility: visible;
  display: inline-block !important;
  width: 100% !important;
  height: auto !important;
  padding: 5px !important;
  border: none;
  max-width: 100%;
}

.tweet-header h3 {
  font-family: "Nunito", sans-serif;
  padding: 30px;
  color: #6599ff;
  text-decoration: underline solid blue;
  font-weight: bold;
}

.tweet-line {
  width: 10%;
  display: flex;
  justify-content: center;
}
